<ul id="post-list">
  {% for note in site.notes %}
  <li>
    <a href='{{ note.url }}'>
      <aside class="dates">{{ note.date | date:"%b %d" }}</aside>
    </a>
    <a href='{{ note.url }}'>{{ note.title }} <h2>{{ note.description }}</h2></a>

    <div class="tagslist">
      {% for cat in note.categories %}
      <div class="tag category">{{ cat.category }}</div>
      {% endfor %}
      {% for technology in note.technologies %}
      <div class="tag">{{ technology.name }}</div>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>